html {color-scheme: dark;}
body {
  display: flex;
  place-items: center;
  flex-direction: column;
  image-rendering: pixelated;
  font-family: sans-serif, system-ui;
  background-color: #1E1E1E;
}
.box {
  border-radius: 0.875rem;
  background: linear-gradient(180deg, #404040 0%, rgba(64, 64, 64, 0.40) 100%);
  margin: 2rem;
  padding: 1rem;
  position: relative;
}
.box h1:first-of-type {
  text-align: center;
  text-shadow: 4px 4px 0 #00000040;
}
.bge {
  position: absolute;
  z-index: -1;
}